.intro {
  background: linear-gradient(#40e0d0 40%, #800080 70%, #ffa500 100%);
}
.container {
  padding: 50px;
}
h1,
h2,
p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
h1 {
  color: black;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
}
h2 {
  font-weight: 400;
}
p {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  margin-top: 30px;
}
.about-section {
  padding: 50px;
}
.skills-section {
  padding: 50px;
}
