.intro {
  background-color: #8ccde0;
  padding: 50px;
}
h1,
h2,
p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
h1 {
  color: #633194;
  font-weight: 800;
}
h2 {
  font-weight: 400; 
}
p {
  font-weight: 600;
  margin-top: 30px;
}
