#mainNav{
  background-color: #374258;
}

.intro {
  background: #374258;
  padding-bottom: 90px;
}
.container {
  padding: 50px;
}
.project-page{
  background-color: #374258;
}
h1,
h2,
p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
h1 {
  color: #f3f3f3;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
}
h2 {
  font-weight: 500;
  font-size: 40px;
}
p {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  margin-top: 30px;
}
.about-section {
  background-color: #6a7285;
  padding-bottom: 90px;
}
.about,
.skills,
 .contact{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  font-size: 50px;
}
.skills-section {
  padding: 50px;
  background-color: #c4c4c4;
}
ul {
  list-style-type: none;
  text-align: center;
  color: #f3f3f3;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300px;
}
li{
  margin: 20px;
}

.btn {
  background: #f74464;
  color: white;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
h4{
  font-size: 48px;
}

footer .contact-box{
  background: #c4c4c4;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p{
  margin: 0;
}
footer .email-link{
  text-decoration: none;
  color: #f74464;
  font-size: 24px;
}
footer .email-link :hover{
  color: #f3f3f3;
}
footer .social-links a{
  margin:0 20px;
  color: #f74464;
  background-color: hsl(0, 0%, 85%);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    font-size: 47px;
  }
  h2 {
    font-size: 35px;
  }
}
